<!-- dev - Shiva Kumar Goud Palle -->
<br/>
<br/>
<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">
      <h2>Recent pilot entries
        <a href="pilot/create" class="btn pull-right btn-primary new">
          Create a new pilot
        </a>
      
      </h2>
      <p>There are
        <%= pilots.query.length %> pilots.
          <br/>
      </p>

      <table class="table table-bordered">
        <thead>
          <tr>
            <th>
              Id
            </th>
            <th>
              LastName
            </th>
            <th>
              firstName
            </th>
            <th>
              hoursFlown
            </th>
            <th>
              isCurrent
            </th>
            <th colspan="3" class="text-center">
              Actions
            </th>
          </tr>
        </thead>
      <tbody>
        
      <% for (var i = pilots.query.length-1; i >= 0; i--) {   
        pilot = pilots.query[i];   %>
    
    <tr>
      <td>
          <%=  pilot._id %>
      </td>
      <td>
          <%=pilot.lastName%>
        </td>
      <td>
          <%=pilot.firstName%>
        </td>
      <td>
          <%=pilot.hoursFlown%>
        </td>
      <td>
          <%=pilot.isCurrent%>
        </td>
        <td>
            <a href="/pilot/delete/<%= pilot._id  %>" class="btn btn-danger"> Delete </a>
        </td>
        <td>
            <a href="/pilot/details/<%= pilot._id %>" class="btn btn-info"> Details </a>
          
        </td>
        <td>
            <a href="/pilot/edit/<%= pilot._id %>" class="btn btn-warning"> Edit </a>

        </td>
      </tr>
    
        <% } %>
      </tbody>
</table>
    </div>
  </div>
</div>