<br/>
<br/>
<br/>
<br/>
<div class="container-fluid">
    <div>
        <h1>Flight Statistics</h1>
    </div>
    
    <%
    var max=0;
    var min = 0;
    var sum = 0;
    var avg = 0;
    flight = flights.query[flights.query.length-1];
    min = flight.durationHours;
    max = flight.durationHours;
    for (var i = flights.query.length-1; i >= 0; i--) {   
        flight = flights.query[i];
        if(flight.durationHours < min){
            min = flight.durationHours;
        }
        if(max <= flight.durationHours){
            max = flight.durationHours;
        }
        sum += flight.durationHours;       
    } 
    avg = sum/flights.query.length;
    
    %>
    <style>
        table, th, td {
            border: 1px solid black;
        }
        </style>
        
        
            <table style="width:30%">
                <tr>
                    <th scope="row">Mean:   <td> <%= avg %></td> </th>
                    
                </tr>
                <tr>
                    <th scope="row">Maximum:  <td><%= max %></td> </th>
                    
                </tr>
                <tr>
                    <th scope="row">Minimum:  <td><%= min %></td></th>
                   
                </tr>
            </table>
</div>