<br/>
<br/>
<br/>
<br/>
<div class="container-fluid">
    <div>
        <h1>Pilot Statistics</h1>
    </div>
    
    <%
    var max=0;
    var min = 0;
    var sum = 0;
    var avg = 0;
    pilot = pilots.query[pilots.query.length-1];
    min = pilot.hoursFlown;
    max = pilot.hoursFlown;
    for (var i = pilots.query.length-1; i >= 0; i--) {   
        pilot = pilots.query[i];
        if(pilot.hoursFlown < min){
            min = pilot.hoursFlown;
        }
        if(max <= pilot.hoursFlown){
            max = pilot.hoursFlown;
        }
        sum += pilot.hoursFlown;       
    } 
    avg = sum/pilots.query.length;
    
    %>
    <style>
        table, th, td {
            border: 1px solid black;
        }
        </style>
        
        
            <table style="width:30%">
                <tr>
                    <th scope="row">Mean:   <td> <%= avg %></td> </th>
                    
                </tr>
                <tr>
                    <th scope="row">Maximum:  <td><%= max %></td> </th>
                    
                </tr>
                <tr>
                    <th scope="row">Minimum:  <td><%= min %></td></th>
                   
                </tr>
            </table>
        

</div>

