<br/>
<br/>
<br/>
<br/>
<div class="container-fluid">
    <div>
        <h1>Planes fuel capacity Statistics</h1>
    </div>
    
    <%
    var max=0;
    var min = 0;
    var sum = 0;
    var avg = 0;
    plane = planes.query[planes.query.length-1];
    min = plane.fuelCapacity;
    max = plane.fuelCapacity;
    for (var i = planes.query.length-1; i >= 0; i--) {   
        plane = planes.query[i];
        if(plane.fuelCapacity < min){
            min = plane.fuelCapacity;
        }
        if(max <= plane.fuelCapacity){
            max = plane.fuelCapacity;
        }
        sum += plane.fuelCapacity;       
    } 
    avg = sum/planes.query.length;
    
    %>
    <style>
        table, th, td {
            border: 1px solid black;
        }
        </style>
        
        
            <table style="width:30%">
                <tr>
                    <th scope="row">Mean:   <td> <%= avg %></td> </th>
                    
                </tr>
                <tr>
                    <th scope="row">Maximum:  <td><%= max %></td> </th>
                    
                </tr>
                <tr>
                    <th scope="row">Minimum:  <td><%= min %></td></th>
                   
                </tr>
            </table>
</div>